.messanger {
  height: calc(100vh - 70px);
  display: flex;
}
.chatMenu {
  flex: 3.5;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
}
.chatMessageInput {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(214, 214, 214);
  outline: none;
  border-radius: 30px;
}
.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: thistle;
  margin: 10px;
  color: white;
  border-radius: 30px;
}
.chatBox {
  flex: 6.5;
}
.chatOnline {
  flex: 4.5;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
.chatBoxBottom {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.noConversationText {
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 30px;
  color: rgb(190, 186, 186);
}
.text-danger {
  color: red;
  font-size: 14px;
  margin-left: 15px;
}
.initConversation {
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: rgb(190, 186, 186);
  justify-content: center;
}
